
{% extends 'base.html' %}
{% block content %}
	<h1>join !!!!</h1>
	<br>
	<form method="POST" action="{% url 'join' %}">
		{% csrf_token %}
	<div class="form-group">
    
    	<input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First-name" name="f_name">
    
  </div>
  <div class="form-group">
    
    	<input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last-name" name="l_name">
    
  </div>
  <div class="form-group">
    
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email" name="email" >
    
  </div>
  <div class="form-group">
    
    	<input type="name" class="form-control"  placeholder="Age" name="age" >
    
  </div>
  <div class="form-group">
    
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" name="passwd" >
  </div>
  
  <button type="submit" class="btn btn-danger">SignUp</button>
</form>
{% endblock %}


